* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: 0;
   outline: none;
   font-family: var(--font);
   transition: 200ms all linear;
   &::selection{
      background: hsl(var(--hue), 85%, 56%, .25);
   }
}

html {
   font-size: var(--md-font);
   color: var(--black);
}

body {
   background: var(--light);
   width: 100%;
   overflow-x: hidden;
   cursor: default;
   font-size: var(--md-font);
}

h2 {
   font-size: var(--lg-sm-font);
   font-weight: 500;
}

h3{
   font-size: var(--md-lg-font);
   font-weight: 500;
   text-transform: capitalize;
}

a {
   text-decoration: none;
}
a.td{
   text-decoration: underline;
   color: var(--primary);
}

input {
   background: transparent;
   color: var(--black);
}

small{
   font-size: var(--sm-font);
}

::placeholder {
   opacity: 1;
   color: var(--grey);
}

.search {
   background: var(--light);
   padding: var(--padding);
   border-radius: var(--border-radius);
   display: flex;
   align-items: center;

   input {
      width: 30vw;
   }
   i{
      color: var(--grey);
      font-size: var(--lg-sm-font);
   }
}

.profile{
   display: flex;
   align-items: center;
   gap: 1rem;
   img{
      width: 3rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      cursor: pointer;
   }
}

.btn{
   padding: var(--padding);
   text-transform: capitalize;
   border-radius: var(--border-radius);
   font-weight: 600;
   font-size: var(--md-font);
   cursor: pointer;
   display: inline-flex;
   gap: 1rem;
   &.primary{
      background: var(--primary);
      color: #fff;
   }
   i{
      font-size: var(--lg-sm-font);
   }
}

.primary {
   color: var(--primary);
}

.mute{
   color: var(--grey);
}

.count{
   position: absolute;
   right: 1rem;
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   font-size: 0.75rem;
   background: var(--danger);
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-weight: 600;
}