@media screen and (max-width: 1200px) {
   main{
      grid-template-columns: 5rem auto 23rem;
      gap: 1rem;
   }

   aside{
      width: 5rem;
      .profile{
         position: static;
         padding: 0;
         margin-bottom: 2rem;
         .img{
            position: static;
            background: none;
            img{
               position: static;
            }
         }
         .handle, .btn{
            display: none;
         }
      }

      nav{
         a{
            justify-content: center;
            h3{
               display: none;
            }
         }
      }

      label.btn{
         display: none;
      }
   }
}

@media screen and (max-width: 1010px) {
   section{
      .stories{
         grid-template-columns: repeat(5, 1fr);
         gap: 0.75rem;
         .story{
            &:last-child{
               display: none;
            }
         }
      }
   }
}