@media screen and (max-width: 1200px) {
   main {
      grid-template-columns: 5rem auto 23rem;
      gap: 1rem;
   }

   aside {
      width: 5rem;
      .profile {
         position: static;
         padding: 0;
         margin-bottom: 2rem;
         .img {
            position: static;
            background: none;
            img {
               position: static;
            }
         }
         .handle,
         .btn {
            display: none;
         }
      }

      nav {
         a {
            justify-content: center;
            h3 {
               display: none;
            }
         }
      }

      label.btn {
         display: none;
      }
   }
}

@media screen and (max-width: 1010px) {
   main {
      grid-template-columns: auto 22rem;
   }
   aside {
      position: fixed;
      top: 10rem;
      left: 1rem;
      > .profile {
         display: none;
      }
      box-shadow: 0 0 1rem var(--grey);
      border-radius: var(--card-border-radius);
      nav {
         margin-bottom: 0;
      }
      .notifications {
         .notification {
            align-items: center;
            display: flex;
            .profile {
               margin-bottom: 0;
            }
         }
      }
   }
   section {
      .stories {
         grid-template-columns: repeat(5, 1fr);
         gap: 0.75rem;
         .story {
            &:last-child {
               display: none;
            }
         }
      }
   }
}

@media screen and (max-width: 895px) {
   main {
      grid-template-columns: auto;
   }

   header {
      .user {
         gap: 1rem;
      }
      .menu {
         display: inline-flex;
      }
      label.btn {
         display: none;
      }
   }

   aside {
      left: 0;
      top: auto;
      bottom: 0;
      width: 100%;
      nav {
         display: flex;
         a.active::before {
            top: auto;
            bottom: 0;
            width: 100%;
            left: auto;
            right: 0;
            height: 0.25rem;
            border-radius: 0;
         }
      }
      .notifications {
         bottom: 5rem;
         top: auto;
         left: -100%;
         &::before {
            top: auto;
            bottom: -0.5rem;
            left: calc(50% - 1rem);
         }
      }
   }

   section {
      .stories {
         grid-template-columns: repeat(6, 1fr);
         gap: 0.75rem;
         .story {
            &:last-child {
               display: block;
            }
         }
      }
   }

   .right {
      display: none;
      position: absolute;
      background: var(--white);
      width: 100vw;
      height: max-content;
      right: 0;
      left: auto;
      z-index: 110;
      padding: 2rem 1rem;
      box-shadow: 0 0 1rem hsl(210, 30%, 15%, 0.25);
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
      .close{
         display: block;
      }
   }
}
