:root {
   /* COLORS */
   --hue: 210;
   --primary: hsl(var(--hue), 85%, 56%);
   --blue: hsl(210, 85%, 56%);
   --danger: hsl(340, 85%, 56%);
   --warning: hsl(60, 85%, 56%);
   --success: hsl(110, 85%, 56%);
   --grey: hsl(210, 30%, 85%);
   --light: hsl(210, 30%, 98%);
   --dark: hsl(210, 30%, 15%);
   --white: hsl(210, 30%, 100%);
   --black: hsl(210, 30%, 10%);

   /* TYPOGRAPHY AND FONTS */
   --font: 'Poppins', sans-serif;
   --lg-font: 1.5rem;
   --lg-sm-font: 1.25rem;
   --md-lg-font: 1rem;
   --md-font: 0.85rem;
   --sm-font: 0.75rem;

   /* OTHER */
   --padding: 0.6rem 2rem;
   --border-radius: 2rem;
   --card-border-radius: 0.75rem;
}

@import 'globals';

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 4rem;
   position: fixed;
   top: 0;
   left: 0;
   background: var(--white);
   padding: 0 2.5%;
   z-index: 100;
   .user {
      display: flex;
      align-items: center;
      gap: 2rem;
   }
}

main {
   display: grid;
   grid-template-columns: auto 24rem;
   margin: 5.5rem 1rem 0;
   gap: 2rem;
}

aside {
   z-index: 10;
   width: 15rem;
   position: fixed;
   top: 5.5rem;
   .profile {
      background: var(--white);
      border-radius: var(--card-border-radius);
      position: relative;
      padding: 0.5rem 1rem;
      margin-bottom: 2rem;
      .img {
         position: absolute;
         top: 0;
         left: 0;
         border-top-right-radius: var(--card-border-radius);
         border-top-left-radius: var(--card-border-radius);
         width: 100%;
         height: 4rem;
         display: flex;
         align-items: center;
         justify-content: center;
         background: var(--primary);
         cursor: pointer;
         img {
            position: relative;
            top: 1.75rem;
         }
      }
      .handle {
         margin-top: 4.75rem;
         text-align: center;
         width: 100%;
         .btn {
            width: 100%;
            justify-content: center;
            margin-top: 1rem;
         }
      }
   }
   nav {
      background: var(--white);
      border-radius: var(--card-border-radius);
      margin-bottom: 2rem;
      a {
         display: flex;
         align-items: center;
         gap: 1rem;
         width: 100%;
         height: 3.625rem;
         position: relative;
         padding: 0 2rem;
         color: var(--black);
         i {
            color: var(--grey);
            font-size: var(--lg-sm-font) !important;
         }
         &.active {
            background: var(--light);
            color: var(--primary);
            &::before {
               content: '';
               width: 0.25rem;
               height: 100%;
               position: absolute;
               top: 0;
               left: 0;
               background: var(--primary);
            }
            i {
               color: var(--primary);
            }
         }
         &:first-child::before {
            border-top-left-radius: var(--card-border-radius);
         }
         &:last-child::before {
            border-bottom-left-radius: var(--card-border-radius);
         }
         &:hover {
            background: var(--light);
         }
      }
   }
   label {
      width: 100%;
      justify-content: center;
   }
}

section {
   margin-left: 17rem;
   .stories {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 1rem;
      margin-bottom: 1.5rem;
      .story {
         position: relative;
         height: 13rem;
         border-radius: var(--card-border-radius);
         cursor: pointer;
         background: center no-repeat var(--white);
         background-image: url(../img/akash_singh.jpeg);
         background-size: cover;
         overflow: hidden;
         &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3rem;
            left: 0;
            bottom: 0;
            background: linear-gradient(
               45deg,
               hsl(210, 30%, 15%, 0.35),
               hsl(210, 30%, 98%, 0.35)
            );
         }
         .profile {
            position: absolute;
            top: 1rem;
            left: 1rem;
            img {
               border: 3px solid var(--primary);
            }
         }
         p {
            position: absolute;
            bottom: 0.5rem;
            left: 0.5rem;
            color: #fff;
            font-weight: 500;
         }
      }
   }

   form {
      display: flex;
      align-items: center;
      gap: 1rem;
      background: var(--white);
      padding: 0.25rem 0.5rem;
      border-radius: var(--border-radius);
      margin-bottom: 1.5rem;
      input[type='text'] {
         width: 100%;
      }
   }
}

.posts {
   .post {
      padding: 1rem;
      background: var(--white);
      border-radius: var(--card-border-radius);
      margin-bottom: 2rem;
      .head {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-bottom: 1.5rem;
         .handle {
            line-height: 1.3;
            cursor: pointer;
         }
         .control {
            display: flex;
            align-items: center;
            gap: 1.5rem;
         }
         span {
            font-weight: 600;
            font-size: var(--lg-sm-font);
            cursor: pointer;
         }
      }
      .text {
         margin-bottom: 0.5rem;
      }
      .img {
         width: 100%;
         overflow: hidden;
         border-radius: var(--card-border-radius);
         height: 28rem;
         display: flex;
         align-items: center;
         justify-content: center;
         object-fit: fill;
         margin-bottom: 1.5rem;
         img {
            border-radius: var(--card-border-radius);
            width: 100%;
            cursor: pointer;
         }
      }
      .info {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0 0.5rem;
         b {
            cursor: pointer;
         }
         .react {
            display: flex;
            align-items: center;
            gap: 1rem;
            .imgs {
               gap: 1rem;
               img {
                  width: 2rem;
                  aspect-ratio: 1/1;
                  border-radius: 50%;
                  margin: -0.5rem;
                  border: 3px solid var(--white);
               }
            }
         }
         .stat {
            display: flex;
            gap: 1rem;
         }
      }
   }
   .actions {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
      .btn {
         width: 100%;
         background: var(--light);
         justify-content: center;
         border-radius: var(--card-border-radius);
         &:hover {
            &:first-child {
               color: var(--danger);
               background: hsl(340, 85%, 56%, 0.25);
            }
            &:nth-child(2) {
               color: var(--blue);
               background: hsl(210, 85%, 56%, 0.25);
            }
            &:nth-child(3) {
               color: var(--success);
               background: hsl(120, 85%, 56%, 0.25);
            }
            &:last-child {
               color: var(--primary);
               background: hsl(var(--hue), 85%, 56%, 0.25);
            }
         }
         i {
            font-size: var(--lg-sm-font);
         }
      }
   }
}

.right {
   >div{
      background: var(--white);
      padding: 1rem;
      border-radius: var(--card-border-radius);
      margin-bottom: 2rem;
   }

   .messages {
      .head {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-bottom: 2rem;
         span {
            font-size: var(--lg-sm-font);
            cursor: pointer;
            &.add {
               background: var(--light);
               display: inline-flex;
               width: 1.85rem;
               height: 1.85rem;
               align-items: center;
               justify-content: center;
               border-radius: 50%;
               cursor: pointer;
               color: var(--primary);
            }
         }
      }
      .message {
         display: flex;
         align-items: center;
         gap: 1rem;
         cursor: pointer;
         &:not(:last-child) {
            margin-bottom: 1rem;
         }
         .profile {
            position: relative;
            width: max-content;
            span {
               position: absolute;
               bottom: 0;
               right: 0;
               border: 2px solid var(--white);
               background: var(--success);
               width: 0.75rem;
               height: 0.75rem;
               border-radius: 50%;
            }
         }
         .mark {
            margin-left: auto;
            color: var(--grey);
            &.seen {
               color: var(--primary);
            }
         }
      }
   }

   .suggestions{
      h2{
         margin-bottom: 2rem;
      }
      .suggestion{
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-bottom: 1rem;
         &:last-child{
            margin-bottom: 2rem;
         }
      }
      p{
         font-weight: 500;
      }
   }
}

@import 'media';
