:root {
  /* COLORS */
  --hue: 210;
  --primary: hsl(var(--hue), 85%, 56%);
  --blue: hsl(210, 85%, 56%);
  --danger: hsl(340, 85%, 56%);
  --warning: hsl(60, 85%, 56%);
  --success: hsl(110, 85%, 56%);
  --grey: hsl(210, 30%, 85%);
  --light: hsl(210, 30%, 98%);
  --dark: hsl(210, 30%, 15%);
  --white: hsl(210, 30%, 100%);
  --black: hsl(210, 30%, 10%);
  /* TYPOGRAPHY AND FONTS */
  --font: "Poppins", sans-serif;
  --lg-font: 1.5rem;
  --lg-sm-font: 1.25rem;
  --md-lg-font: 1rem;
  --md-font: 0.85rem;
  --sm-font: 0.75rem;
  /* OTHER */
  --padding: 0.6rem 2rem;
  --border-radius: 2rem;
  --card-border-radius: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  font-family: var(--font);
  transition: 300ms all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

html {
  font-size: var(--md-font);
  color: var(--black);
}

body {
  background: var(--light);
  width: 100%;
  overflow-x: hidden;
  cursor: default;
  font-size: var(--md-font);
}

h2 {
  font-size: var(--lg-sm-font);
  font-weight: 500;
}

h3 {
  font-size: var(--md-lg-font);
  font-weight: 500;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

a.td {
  text-decoration: underline;
  color: var(--primary);
}

input {
  background: transparent;
  color: var(--black);
}

small {
  font-size: var(--sm-font);
}

::-moz-placeholder {
  opacity: 1;
  color: var(--grey);
}

::placeholder {
  opacity: 1;
  color: var(--grey);
}

.search {
  background: var(--light);
  padding: var(--padding);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
}
.search input {
  width: 30vw;
}
.search i {
  color: var(--grey);
  font-size: var(--lg-sm-font);
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile img {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
}

.btn {
  padding: var(--padding);
  text-transform: capitalize;
  background: var(--light);
  border-radius: var(--border-radius);
  font-weight: 600;
  font-size: var(--md-font);
  cursor: pointer;
  display: inline-flex;
  gap: 1rem;
}
.btn.primary {
  background: var(--primary);
  color: #fff;
}
.btn i {
  font-size: var(--lg-sm-font);
}

.primary {
  color: var(--primary);
}

.mute {
  color: var(--grey);
}

.count {
  position: absolute;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  font-size: 0.75rem;
  background: var(--danger);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--white);
  padding: 0 2.5%;
  z-index: 100;
}
header .user {
  display: flex;
  align-items: center;
  gap: 2rem;
}

main {
  display: grid;
  grid-template-columns: auto 24rem;
  margin: 5.5rem 1rem 0;
  gap: 2rem;
}

aside {
  z-index: 10;
  width: 15rem;
  position: fixed;
  top: 5.5rem;
}
aside .profile {
  background: var(--white);
  border-radius: var(--card-border-radius);
  position: relative;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}
aside .profile .img {
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: var(--card-border-radius);
  border-top-left-radius: var(--card-border-radius);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  cursor: pointer;
}
aside .profile .img img {
  position: relative;
  top: 1.75rem;
}
aside .profile .handle {
  margin-top: 4.75rem;
  text-align: center;
  width: 100%;
}
aside .profile .handle .btn {
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}
aside nav {
  background: var(--white);
  border-radius: var(--card-border-radius);
  margin-bottom: 2rem;
}
aside nav a {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 3.625rem;
  position: relative;
  padding: 0 2rem;
  color: var(--black);
}
aside nav a i {
  color: var(--grey);
  font-size: var(--lg-sm-font) !important;
}
aside nav a.active {
  background: var(--light);
  color: var(--primary);
}
aside nav a.active::before {
  content: "";
  width: 0.25rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary);
}
aside nav a.active i {
  color: var(--primary);
}
aside nav a:first-child::before {
  border-top-left-radius: var(--card-border-radius);
}
aside nav a:last-child::before {
  border-bottom-left-radius: var(--card-border-radius);
}
aside nav a:hover {
  background: var(--light);
}
aside label {
  width: 100%;
  justify-content: center;
}

section {
  margin-left: 17rem;
}
section .stories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;
}
section .stories .story {
  position: relative;
  height: 13rem;
  border-radius: var(--card-border-radius);
  cursor: pointer;
  background: center no-repeat var(--white);
  background-image: url(../img/akash_singh.jpeg);
  background-size: cover;
  overflow: hidden;
}
section .stories .story::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3rem;
  left: 0;
  bottom: 0;
  background: linear-gradient(45deg, hsla(210, 30%, 15%, 0.35), hsla(210, 30%, 98%, 0.35));
}
section .stories .story .profile {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
section .stories .story .profile img {
  border: 3px solid var(--primary);
}
section .stories .story p {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  color: #fff;
  font-weight: 500;
}
section form {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--white);
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
}
section form input[type=text] {
  width: 100%;
}

.posts .post {
  padding: 1rem;
  background: var(--white);
  border-radius: var(--card-border-radius);
  margin-bottom: 2rem;
}
.posts .post .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.posts .post .head .handle {
  line-height: 1.3;
  cursor: pointer;
}
.posts .post .head .control {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.posts .post .head span {
  font-weight: 600;
  font-size: var(--lg-sm-font);
  cursor: pointer;
}
.posts .post .text {
  margin-bottom: 0.5rem;
}
.posts .post .img {
  width: 100%;
  overflow: hidden;
  border-radius: var(--card-border-radius);
  height: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -o-object-fit: fill;
     object-fit: fill;
  margin-bottom: 1.5rem;
}
.posts .post .img img {
  border-radius: var(--card-border-radius);
  width: 100%;
  cursor: pointer;
}
.posts .post .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.posts .post .info b {
  cursor: pointer;
}
.posts .post .info .react {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.posts .post .info .react .imgs {
  gap: 1rem;
}
.posts .post .info .react .imgs img {
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: -0.5rem;
  border: 3px solid var(--white);
}
.posts .post .info .stat {
  display: flex;
  gap: 1rem;
}
.posts .actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.posts .actions .btn {
  width: 100%;
  background: var(--light);
  justify-content: center;
  border-radius: var(--card-border-radius);
}
.posts .actions .btn:hover:first-child {
  color: var(--danger);
  background: hsla(340, 85%, 56%, 0.25);
}
.posts .actions .btn:hover:nth-child(2) {
  color: var(--blue);
  background: hsla(210, 85%, 56%, 0.25);
}
.posts .actions .btn:hover:nth-child(3) {
  color: var(--success);
  background: hsla(120, 85%, 56%, 0.25);
}
.posts .actions .btn:hover:last-child {
  color: var(--primary);
  background: hsl(var(--hue), 85%, 56%, 0.25);
}
.posts .actions .btn i {
  font-size: var(--lg-sm-font);
}

.right .messages {
  background: var(--white);
  padding: 1rem;
  border-radius: var(--card-border-radius);
}
.right .messages .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.right .messages .head span {
  font-size: var(--lg-sm-font);
  cursor: pointer;
}
.right .messages .head span.add {
  background: var(--light);
  display: inline-flex;
  width: 1.85rem;
  height: 1.85rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--primary);
}
.right .messages .message {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.right .messages .message .profile {
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.right .messages .message .profile span {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid var(--white);
  background: var(--success);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}
.right .messages .message .mark {
  margin-left: auto;
  color: var(--grey);
}
.right .messages .message .mark.seen {
  color: var(--primary);
}